In [54]:
import requests
import pandas as pd
import json

In [35]:
#scoreboard=requests.get('http://fantasy.espn.com/apis/v3/games/ffl/seasons/2020/' \
#'segments/0/leagues/{}?view=mBoxscore&scoringPeriodId={}&matchupPeriodId={}'.format(leagueID,w,w))

In [41]:
swid = '{483C569B-8A95-407D-A4E8-2E0F62824F16}'
espn_s2='AEB0WyqD1HUQ0%2FBXr6q9zxQtIySN%2FJsISfcr6%2FjX4iNMGgBmzBtbMRjbfeTQb3xVf51vPEugSO3w8uh2TGva0eNuxqb%2F%2BsJTtUNyqrZscMuyerhRJxgmKfwOo8O5Kys56GUuuz%2BUjGgqPsnjq6xTvUcQXpJWpNBSH0pi9H3DIg8eDAk8RQTUwkywZtURXAkcFWTaUc2CUTUXI9CQZQQan9UMgPO0Uyk9z0tyX4taUV%2Fubz1a3mXR1UsfUDeI8RZrZZiJod83NAcxs84HFP9KsnQs'

cookies = {'SWID': swid,
           'espn_s2': espn_s2}

In [42]:
week = 1
leagueID = '1581399'

In [81]:
import requests

w = 1

params={"view": "mRoster"}

url = 'http://fantasy.espn.com/apis/v3/games/ffl/seasons/2022/' \
'segments/0/leagues/{}'.format(leagueID,w,w)



response = requests.get(url, cookies=cookies, params = params)

In [82]:
response

In [83]:
data = json.loads(response.text)

In [95]:
pd.json_normalize(data.get('teams')[0].get('roster').get('entries')[0])

,acquisitionDate,acquisitionType,injuryStatus,lineupSlotId,pendingTransactionIds,playerId,status,playerPoolEntry.appliedStatTotal,playerPoolEntry.id,playerPoolEntry.keeperValue,...,playerPoolEntry.player.rankings.1,playerPoolEntry.player.seasonOutlook,playerPoolEntry.player.stats,playerPoolEntry.player.universeId,playerPoolEntry.ratings.0.positionalRanking,playerPoolEntry.ratings.0.totalRanking,playerPoolEntry.ratings.0.totalRating,playerPoolEntry.rosterLocked,playerPoolEntry.status,playerPoolEntry.tradeLocked
0,1662177822372,DRAFT,NORMAL,4,None,2977187,NORMAL,0.0,2977187,8,...,"[{'auctionValue': 0, 'averageRank': 2.0, 'publ...",Here is an incomplete list of categories in wh...,"[{'appliedAverage': 600.0, 'appliedStats': {'1...",2,1,61,10200.0,False,ONTEAM,False

In [98]:
rosters = pd.DataFrame()
for team in data.get('teams'):
    tid = team.get('id')
    roster = team.get('roster').get('entries')
    for player in roster:
        df = pd.json_normalize(player)
        df['teamID'] = tid
        rosters = rosters.append(df)

In [117]:
espn = rosters[['teamID','playerId']]

In [122]:
rosters

,acquisitionDate,acquisitionType,injuryStatus,lineupSlotId,pendingTransactionIds,playerId,status,playerPoolEntry.appliedStatTotal,playerPoolEntry.id,playerPoolEntry.keeperValue,...,playerPoolEntry.player.seasonOutlook,playerPoolEntry.player.stats,playerPoolEntry.player.universeId,playerPoolEntry.ratings.0.positionalRanking,playerPoolEntry.ratings.0.totalRanking,playerPoolEntry.ratings.0.totalRating,playerPoolEntry.rosterLocked,playerPoolEntry.status,playerPoolEntry.tradeLocked,teamID
0,1662177822372,DRAFT,NORMAL,4,None,2977187,NORMAL,0.0,2977187,8,...,Here is an incomplete list of categories in wh...,"[{'appliedAverage': 600.0, 'appliedStats': {'1...",2,1,61,10200.0,False,ONTEAM,False,1
0,1662177822372,DRAFT,NORMAL,20,None,2976212,NORMAL,0.0,2976212,3,...,Diggs followed up a career-year in 2020 with s...,"[{'appliedAverage': 366.3529411764706, 'applie...",1,14,95,6228.0,False,ONTEAM,False,1
0,1662177822372,DRAFT,NORMAL,4,None,3116406,NORMAL,0.0,3116406,3,...,Hill was traded to Miami after finishing four ...,"[{'appliedAverage': 398.8235294117647, 'applie...",1,12,90,6780.0,False,ONTEAM,False,1
0,1662177822372,DRAFT,NORMAL,2,None,3042519,NORMAL,0.0,3042519,0,...,Jones is entering his sixth season with the Pa...,"[{'appliedAverage': 408.6666666666667, 'applie...",2,15,100,6130.0,False,ONTEAM,False,1
0,1662177822372,DRAFT,NORMAL,6,None,4360248,NORMAL,0.0,4360248,10,...,Pitts is entering his second NFL season after ...,"[{'appliedAverage': 303.2352941176471, 'applie...",2,4,146,5155.0,False,ONTEAM,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1662177822372,DRAFT,NORMAL,19,None,-14033,NORMAL,0.0,-14033,0,...,NaN,"[{'appliedAverage': -6.588235294117647, 'appli...",1,19,802,-112.0,False,ONTEAM,False,9
0,1662177822372,DRAFT,NORMAL,18,None,15153,NORMAL,0.0,15153,0,...,NaN,"[{'appliedAverage': 668.1176470588235, 'applie...",2,24,53,11358.0,False,ONTEAM,False,9
0,1662593745984,ADD,NORMAL,4,None,4039050,NORMAL,0.0,4039050,0,...,NaN,"[{'appliedAverage': 425.3125, 'appliedStats': ...",1,10,88,6805.0,False,ONTEAM,False,9
0,1662593938783,ADD,NORMAL,4,None,3123075,NORMAL,0.0,3123075,0,...,Berrios re-signed with the Jets and the 2018 s...,"[{'appliedAverage': 478.4375, 'appliedStats': ...",1,5,76,7655.0,False,ONTEAM,False,9
0,1662594369312,ADD,NORMAL,20,None,4371733,NORMAL,0.0,4371733,0,...,The Eagles selected Gainwell in the fifth roun...,"[{'appliedAverage': 215.625, 'appliedStats': {...",2,54,232,3450.0,False,ONTEAM,False,9

In [119]:
players = pd.read_csv('Files/players.csv')

In [120]:
espn.merge(players[['player_id','espn_id','team','full_name']], left_on='playerId', right_on='espn_id', how='left')

     teamID  playerId player_id    espn_id team        full_name
0         1   2977187      4039  2977187.0  LAR      Cooper Kupp
1         1   2976212      2449  2976212.0  BUF     Stefon Diggs
2         1   3116406      3321  3116406.0  MIA      Tyreek Hill
3         1   3042519      4199  3042519.0   GB      Aaron Jones
4         1   4360248       NaN        NaN  NaN              NaN
..      ...       ...       ...        ...  ...              ...
155       9    -14033       NaN        NaN  NaN              NaN
156       9     15153      1202    15153.0  CAR    Johnny Hekker
157       9   4039050      6847  4039050.0  BAL   Devin Duvernay
158       9   3123075      5121  3123075.0  NYJ  Braxton Berrios
159       9   4371733       NaN        NaN  NaN              NaN

[160 rows x 6 columns]

In [121]:
players[players['full_name'] == 'Kyle Pitts']

,injury_notes,injury_body_part,sport,injury_status,player_id,rotoworld_id,search_full_name,years_exp,fantasy_positions,search_rank,...,active,depth_chart_position,espn_id,yahoo_id,birth_country,full_name,practice_description,age,height,injury_start_date
289,NaN,NaN,nfl,NaN,7553,NaN,kylepitts,1.0,['TE'],19.0,...,True,LTE,NaN,NaN,NaN,Kyle Pitts,NaN,21.0,78,NaN